/* You can add global styles to this file, and also import other style files */
/* General Styling */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #000814, #001d3d, #003566);
  background-size: 400% 400%;
  animation: nightSkyAnimation 12s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero Section */
.hero {
  text-align: center;
  color: #ffffff;
  padding: 20px;
  animation: fadeIn 2s ease;
}


.title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(0, 121, 255, 0.6);
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: #a3cef1;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.start-btn {
  padding: 15px 40px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(45deg, #001d3d, #003566, #00509d);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.start-btn:hover {
  transform: scale(1.2);
  background: linear-gradient(45deg, #00509d, #003566, #001d3d);
  box-shadow: 0 6px 30px rgba(255, 255, 255, 0.6);
}

/* Animations */
@keyframes nightSkyAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
